body{
  background-color: gold;
}


a{
  text-decoration: none;
  margin: 30px;
}


a.link-h:hover{
  background-color: red;
  padding-left: 2px;
  
}
a.link-a:hover{
  background-color: red;
  padding-left: 2px;
  
}
a.link-c:hover{
  background-color: red;
  padding-left: 2px;
  
}
a.link-p:hover{
  background-color: red;
  padding-left: 2px;
  
}